# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VSCode / IDE
.vscode/
*.code-workspace

# Virtual Environments
env/
venv/
ENV/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS / Windows
.DS_Store
Thumbs.db

# PyCharm
.idea/

# Logs
*.log
